// Container width
$container-width: 800px;
$container-max-width: 1200px;

// Base size of margins
$base-margin: 8px;

// Margin size patterns
$margin-xsm: $base-margin * 1;
$margin-sm: $base-margin * 2;
$margin-md: $base-margin * 3;
$margin-lg: $base-margin * 4;
$margin-xlg: $base-margin * 6;
