@import '../../../styles/resources';

.diaryPost {
  & {
    padding-top: $margin-xlg;
  }

  & > .title {
    @include container;

    margin-bottom: $margin-lg;
  }

  & > .date {
    @include container;

    display: block;
    margin-bottom: $margin-xlg;
    font-family: $font-family-accent;
    font-weight: bold;
    color: var(--text-secondary);
  }

  & > .body {
    @include container;
  }
}
