// Global styles
@import '~reboot.css';
@import '../styles/resources';

// Variables
:root {
  // Color palette
  --foundation-primary: #fff;
  --foundation-secondary: #fff;
  --text-primary: #191919;
  --text-secondary: #444;
  --text-link: #f00;

  @media (prefers-color-scheme: dark) {
    --foundation-primary: #000;
    --foundation-secondary: #222;
    --text-primary: #fff;
    --text-secondary: #ccc;
    --text-link: #f00;
  }
}

body,
button,
input,
textarea {
  font-family: $font-family-primary;
  -webkit-font-smoothing: antialiased;
}

body {
  color: var(--text-primary);
  background: var(--foundation-secondary);
}
