@import '../styles/resources';

.indexPage {
  & {
    padding-top: $margin-xlg;
  }
}

.entryList {
  & {
    @include container;

    list-style: none;
  }

  & > .item {
    display: grid;
    grid-template:
      'date   category  .'
      'title  title     title' /
      auto    auto      1fr;
    margin-bottom: $margin-lg;
  }

  & > .item > .date {
    grid-area: date;
    font-family: $font-family-accent;
  }

  & > .item > .category {
    grid-area: category;
    margin-left: $margin-sm;
  }

  & > .item > .title {
    grid-area: title;
    margin-top: $margin-xsm;
  }
}
